body {
    background-color: #000 !important;
}

::-webkit-scrollbar {
	width: 10px;
  }

::-webkit-scrollbar-track {
	background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #17b06b; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

.key-features {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.governance {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.listed-on {
	margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.gov-text {
    margin-top: unset !important;
    text-align: center;
    font-size: 21px;
    min-width: 300px;
    max-width: 500px;
    margin: 0 auto;
}

.updates {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.technology {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.council-title {
    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    color: #17b06b;
} 

.council-description {
    text-align: center;
    font-size: 13px;
    color: #716da9;
    display: none;
}

.footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    height: 150px;
    text-align: center;
}

.footer-links {
    margin: 0 auto;
}

.footer-links li {
    float: left;
    padding: 20px;
    list-style: none;
}

.footer-links li>a {
    color: #fff;
}

.right-buttons {
    position: absolute;
    right: 1px;
    float: left;
}

.faucet {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.pow-para span {
    font-weight: 600;
    color: #17b06b;
}

.pow-para {
}

.title-underline {
    color: #fff;
    background: #fff;
    width: 40px;
}

.mobile-glitch {
	display: none !important;
}

@media ( max-width: 900px ) {

	.preloader-wrapper .preloader {
		width: unset !important;
	}

	.small-glitch {
		font-size: 14px !important;
		letter-spacing: 6px !important;
		text-align: left;
		color: #714cdf !important;
	}
	
    .orb {
        position: absolute !important;
        padding-left: 156px !important;
        top: 212px !important;
    }

    .single-built {
        margin-top: 20px;
    }

    .second-row {
        margin-top: unset !important;
    }

    .second-row-mobile {
        display: block !important;
        margin-top: unset !important;
    }

    .second-row {
        display: none !important;
        margin-top: unset !important;
    }

    .pad-lt {
        padding-left: 30px;
    }

    .mob-logo {
        display: block !important;
    }

    .desk-logo {
        display: none !important;
    }

    .glitch {
        font-size: 3rem !important;
	}
	
	.navbar-collapse {
		height: 50px;
	}

	.display-2 {
		display: none;
	}

	#app {
		align-items: unset !important;
	}

	.line-1 {
		text-align: left !important;
		font-size: 17 !important;
		width: 100% !important;
		letter-spacing: 11px !important;
	}

	.desktop-glitch {
		display: none !important;
	}

	.orb {
		display: block !important;
	}

	.mobile-glitch {
		display: block !important;
	}

	.gecko-img {
		margin-top: 50px;
	}
}

.orb {
	display: none;
}



.icon-img {
    width: 65px;
    height: 65px;
}

.single-built
{
    padding-top: 15px;
    border-radius: 50px;
    background: #052516;
}

.second-row {
    margin-top: 50px;
}

.second-row-mobile {
    margin-top: 50px;
}

.togglers {
    margin: 0 auto;
    padding: 17px;
    border: 2px solid #17b06b;
    border-radius: 11px;
    padding-left: 8px !important;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 82%) !important; /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    text-align: center;
    padding-top: 25%;
  }

  .single-member p {
    font-size: 11px;
}

.green-logo {
    color: #17b06b
}

.jumbotron .orb ::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 2px #17b06b;
    pointer-events: none;
}

.jumbotron .orb ::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 2px #000;
    pointer-events: none;
}

.navbar-main {
    border-bottom: 1px solid #5d5d5d;
    background: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}

.home-section {
    margin-top: 70px;
}

.mob-logo {
    display: none;
}

body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

/* glitch anime */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
 html, body, h1 {
	 padding: 0;
	 margin: 0;
	 font-family: 'Montserrat', sans-serif;
}
 #app {
	 background: transparent;
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
	 background-size: cover;
	 background-position: center;
	 z-index: 1;
}
 #wrapper {
	 text-align: center;
}
 .sub {
	 color: #64dcdc !important;
	 letter-spacing: 1em !important;
}
/* Our mixin positions a copy of our text directly on our existing text, while also setting content to the appropriate text set in the data-text attribute. */
 .glitch {
	 position: relative;
	 color: white;
	 font-size: 4em;
	 letter-spacing: 0.5em;
	/* Animation provies a slight random skew. Check bottom of doc for more information on how to random skew. */
	 animation: glitch-skew 1s infinite linear alternate-reverse;
}

.small-glitch {
	font-weight: bold;
	font-size: 19px ;
    letter-spacing: 6px !important;
}


 .glitch::before {
	 content: attr(data-text);
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 left: 2px;
	 text-shadow: -2px 0 #ff00c1;
	/* Creates an initial clip for our glitch. This works in a typical top,right,bottom,left fashion and creates a mask to only show a certain part of the glitch at a time. */
	 clip: rect(44px, 450px, 56px, 0);
	/* Runs our glitch-anim defined below to run in a 5s loop, infinitely, with an alternating animation to keep things fresh. */
	 animation: glitch-anim 5s infinite linear alternate-reverse;
}
 .glitch::after {
	 content: attr(data-text);
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 left: -2px;
	 text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	 animation: glitch-anim2 1s infinite linear alternate-reverse;
}
/* Creates an animation with 20 steaps. For each step, it calculates a percentage for the specific step. It then generates a random clip box to be used for the random glitch effect. Also adds a very subtle skew to change the 'thickness' of the glitch.*/
 @keyframes glitch-anim {
	 0% {
		 clip: rect(85px, 9999px, 11px, 0);
		 transform: skew(0.83deg);
	}
	 5% {
		 clip: rect(39px, 9999px, 75px, 0);
		 transform: skew(0.49deg);
	}
	 10% {
		 clip: rect(47px, 9999px, 72px, 0);
		 transform: skew(0.06deg);
	}
	 15% {
		 clip: rect(18px, 9999px, 85px, 0);
		 transform: skew(0.02deg);
	}
	 20% {
		 clip: rect(2px, 9999px, 43px, 0);
		 transform: skew(0.26deg);
	}
	 25% {
		 clip: rect(17px, 9999px, 4px, 0);
		 transform: skew(0.24deg);
	}
	 30% {
		 clip: rect(24px, 9999px, 87px, 0);
		 transform: skew(0.74deg);
	}
	 35% {
		 clip: rect(46px, 9999px, 35px, 0);
		 transform: skew(0.4deg);
	}
	 40% {
		 clip: rect(41px, 9999px, 90px, 0);
		 transform: skew(0.13deg);
	}
	 45% {
		 clip: rect(100px, 9999px, 23px, 0);
		 transform: skew(0.4deg);
	}
	 50% {
		 clip: rect(41px, 9999px, 75px, 0);
		 transform: skew(0.76deg);
	}
	 55% {
		 clip: rect(88px, 9999px, 38px, 0);
		 transform: skew(0.16deg);
	}
	 60% {
		 clip: rect(31px, 9999px, 5px, 0);
		 transform: skew(0.93deg);
	}
	 65% {
		 clip: rect(90px, 9999px, 48px, 0);
		 transform: skew(0.76deg);
	}
	 70% {
		 clip: rect(25px, 9999px, 50px, 0);
		 transform: skew(0.85deg);
	}
	 75% {
		 clip: rect(36px, 9999px, 89px, 0);
		 transform: skew(0.45deg);
	}
	 80% {
		 clip: rect(8px, 9999px, 47px, 0);
		 transform: skew(0.82deg);
	}
	 85% {
		 clip: rect(47px, 9999px, 81px, 0);
		 transform: skew(0.62deg);
	}
	 90% {
		 clip: rect(99px, 9999px, 5px, 0);
		 transform: skew(0.13deg);
	}
	 95% {
		 clip: rect(3px, 9999px, 82px, 0);
		 transform: skew(0.61deg);
	}
	 100% {
		 clip: rect(51px, 9999px, 33px, 0);
		 transform: skew(0.22deg);
	}
}
 @keyframes glitch-anim2 {
	 0% {
		 clip: rect(4px, 9999px, 92px, 0);
		 transform: skew(0.5deg);
	}
	 5% {
		 clip: rect(50px, 9999px, 24px, 0);
		 transform: skew(0.52deg);
	}
	 10% {
		 clip: rect(72px, 9999px, 13px, 0);
		 transform: skew(0.62deg);
	}
	 15% {
		 clip: rect(4px, 9999px, 48px, 0);
		 transform: skew(0.38deg);
	}
	 20% {
		 clip: rect(51px, 9999px, 25px, 0);
		 transform: skew(0.03deg);
	}
	 25% {
		 clip: rect(48px, 9999px, 43px, 0);
		 transform: skew(0.61deg);
	}
	 30% {
		 clip: rect(12px, 9999px, 32px, 0);
		 transform: skew(0.62deg);
	}
	 35% {
		 clip: rect(54px, 9999px, 39px, 0);
		 transform: skew(0.94deg);
	}
	 40% {
		 clip: rect(75px, 9999px, 66px, 0);
		 transform: skew(0.1deg);
	}
	 45% {
		 clip: rect(86px, 9999px, 80px, 0);
		 transform: skew(0.09deg);
	}
	 50% {
		 clip: rect(55px, 9999px, 72px, 0);
		 transform: skew(0.62deg);
	}
	 55% {
		 clip: rect(10px, 9999px, 2px, 0);
		 transform: skew(0.42deg);
	}
	 60% {
		 clip: rect(89px, 9999px, 76px, 0);
		 transform: skew(0.8deg);
	}
	 65% {
		 clip: rect(51px, 9999px, 15px, 0);
		 transform: skew(0.89deg);
	}
	 70% {
		 clip: rect(71px, 9999px, 45px, 0);
		 transform: skew(0.05deg);
	}
	 75% {
		 clip: rect(18px, 9999px, 13px, 0);
		 transform: skew(0.77deg);
	}
	 80% {
		 clip: rect(79px, 9999px, 57px, 0);
		 transform: skew(0.86deg);
	}
	 85% {
		 clip: rect(38px, 9999px, 91px, 0);
		 transform: skew(0.03deg);
	}
	 90% {
		 clip: rect(3px, 9999px, 80px, 0);
		 transform: skew(0.88deg);
	}
	 95% {
		 clip: rect(18px, 9999px, 53px, 0);
		 transform: skew(0.48deg);
	}
	 100% {
		 clip: rect(40px, 9999px, 84px, 0);
		 transform: skew(0.9deg);
	}
}
 @keyframes glitch-skew {
	 0% {
		 transform: skew(-2deg);
	}
	 10% {
		 transform: skew(1deg);
	}
	 20% {
		 transform: skew(-4deg);
	}
	 30% {
		 transform: skew(4deg);
	}
	 40% {
		 transform: skew(3deg);
	}
	 50% {
		 transform: skew(-1deg);
	}
	 60% {
		 transform: skew(2deg);
	}
	 70% {
		 transform: skew(-1deg);
	}
	 80% {
		 transform: skew(0deg);
	}
	 90% {
		 transform: skew(-1deg);
	}
	 100% {
		 transform: skew(-1deg);
	}
}

/* typing anime */
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

  .typing-blinkers{
    animation: blink 1s infinite;
  }
  
@import 'https://fonts.googleapis.com/css?family=Roboto';
/* typing */
  #text {
	display: inline-block;
	vertical-align: middle;
	color: #17b06b;
	letter-spacing: 3px;
	font-family: "Courier";
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: #fff;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #fff; 
	}
}


html, body {
	background-color: #000;
}
h2, a, p {
	color: #fff;
	font-family: Roboto;
	text-decoration: none;
}
p>a {
	color: #fd084a;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}
.header-sub-title {
  color: #fff;
  font-family: "Courier";
  font-size: 20px;
  padding: 0.1em;
}

.markets {
	padding: 30px;
}


 
 

